.gallery-header{
    text-align: center;
    padding-top: 6rem;
    font-size: 35px;
    padding-bottom: 1.5rem;
    color: rgb(8, 54, 70);
}
.logo-icon {
    width: 100px;
    margin: 0 5px;
}
.main-navbar {
    background-color: white;
}
        
span {
    font-size: 35px;
    color: rgb(8, 54, 70);
    font-weight: bold;
}
.icon-link {
    font-weight: bold;
    border-bottom: 1px solid white;

}
.icon-link:hover {
    border-color: rgb(8, 54, 70);
    color: rgb(212, 203, 203);
}

@media screen and (min-width: 1000px) {
    .gallery-header { 
        font-size: 50px; 
     } 
}
@media screen and (max-width:800px) {
    span {
        font-size: 20px;
    }
}
@media screen and (max-width: 414px) {
    span {
        font-size: 15px;
    }
    
}
@media screen and (max-width: 280px) {
    span {
        font-size: 10px;
    }
    .logo-icon {
        width: 60px;
    }
}
